h1 {
    text-align: center;
}


.keyboard-inputs {
    display: block;
}


.-webkit-text-stroke{
    -webkit-text-stroke: 2px white;
}



main {
    margin: auto;
    max-width: 600px;
    text-align: center;

}


label, button {
    margin: 10px;
}


table, tr, td {
    border-color: gray;
    border-width: 1px;
    border-style: solid;
    width: 100%;


}

